<%- form_tag (%%model%%_path(%%model%%)) %>
	<% if (%%model%%.errors) { %>
		<div id="error_explanation">
			<h2><%= pluralize(Object.keys(%%model%%.errors).length, "error") %> prohibited this %%model%% from being saved:</h2>

			<ul>
			<% for (var k in %%model%%.errors) { %>
				<li><%= %%model%%.errors[k] %></li>
			<% } %>
			</ul>
		</div>
	<% } %>

%%form_html%%
	<div class="actions">
		<%- submit_tag ("Save") %>
	</div>
<%- form_end() %>
